<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <label>Username :</label> 
            <input type="text" [(ngModel)]="userName" class="form-control">
            <br>
            <button class="btn btn-primary" [disabled]="userName.length == 0" (click)="onUserReset()">Reset User</button>
            <br><br>
            <p>The UserName typed above was : {{ userName }}</p>
            <app-server></app-server>
            <br>
            <app-server></app-server>


        </div>
    </div>
</div>