<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <label>Username :</label> 
            <input type="text" [(ngModel)]="userName" class="form-control">
            <br>
            <button class="btn btn-primary" [disabled]="userName.length == 0" (click)="onUserReset()">Reset User</button>
            <br><br>
            <p>The UserName typed above was : {{ userName }}</p>
            <br>
            <label>Server Name :</label> 
            <input type="text" [(ngModel)]="serverName" class="form-control">
            <br>
            <button class="btn btn-primary" [disabled]="!allowNewServer" (click)="onServerAdd()">Add Server</button>
            <br>
            <p *ngIf="serverCreated" > Server was Created</p>
            <br>
            <app-server *ngFor="let server of servers"></app-server>
            


        </div>
    </div>
</div>